.hovered {
    border-style: solid;
    border-color: red;
    // padding: 25px;
    background: url('/assets/images/minions/drBoom.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.normal {
    border-style: solid;
    border-color: blue;
    // padding: 25px;
    background: url('/assets/images/minions/drBoom.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#example2 {
    // padding: 25px;
    // background: url('/assets/images/minions/drBoom.jpg');
    // background-repeat: no-repeat;
    // background-size: 100% 100%;
  }
.attack {
    background-color: rgba(248, 244, 2, 0.534);
    border-radius: 30%;
    font-size:xx-large;
    float: left;
}
.health {
    background-color: rgba(248, 39, 2, 0.925);
    border-radius: 30%;
    font-size:xx-large;
    float: left;
}
.mana {
    background-color: rgba(14, 17, 233, 0.925);
    border-radius: 30%;
    font-size:x-large;
    float: left;
}